<article class="post" itemscope itemtype="http://schema.org/BlogPosting" role="article">
    {% set image = post.header.image %}
    {% if post.header.image %}
        <figure class="post-image" itemprop="image">
            <div class="thumbnail-wrapper"><img src="{{ post.media[post.header.image].cropResize(350).url }}" width="100%" height="100%" alt="">
                <a href="{{ post.url }}" alt="{{post.title}}" class="img-title" >{{ post.title }}
                </a>
            </div>
        </figure>
    {% endif %}
</article>
